* {
  box-sizing: border-box;
}

body {
  background-color: #00FA9A;
  font-family: sans-serif, Helvetica, Arial ;
}

header {
  background-color: #FF6347;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

h1 {
  color: black;
  font-family: Helvetica;
  text-align: center;
}

h2 {
	color: black;
	font-family: Helvetica;
	text-align: justify;
	font-size: 20px;
}
h3{
	color: black;
	font-family: Helvetica;
	font-size: 35px;
}

p {
  color: black;
  font-family: Courier;
  text-align: justify;
  font-size: 20px;
}

.perfil{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-color: #02c269; 

    
}
.perfil-description{
    height: 300px;
    background-color: rgba(0, 0, 21, .7);
    display: flex;
}
.perfil-text{
    width:70% !important;
    margin: auto !important;
    display: flex;
    flex-wrap: wrap;
    
}

.perfil-text p{
    color:white;
    width: 100%;
	text-align: left;
	font-size: 25px;
}
.perfil-title{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
    color:white;
    text-align: left;
}


.pdfs{
	float: left;
	
}
.centro{
	float: right;
	width: 41%;
	align-content: center;
}
.descricao{
	width: 90%;
}
.pdfs2{
	float: left;
	
}
.centro2{
	float: right;
	width: 41%;
	align-content: center;
}
.descricao2{
	width: 90%;
}
.pdfs3{
	float: left;
	
}
.centro3{
	float: right;
	width: 41%;
	align-content: center;
}
.descricao3{
	width: 90%;
}



